<h1>Contatos</h1>

<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Mensagem</th>
    <th>Data</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% for contato in @contatos %>
      <tr class="<%= 'text-muted' if contato.lido? %>">
        <td><%= contato.id %></td>
        <td><%= contato.nome %></td>
        <td><%= mail_to contato.email %></td>
        <td><%= truncate contato.mensagem %></td>
        <td><%= l contato.created_at, format: :short %></td>
        <td><%= link_to 'abrir', contato_path(contato), class: 'btn btn-info btn-xs' %></td>
      </tr>
  <% end %>
  </tbody>
</table>