<%= link_to 'marcar como não lido', [:unread, @contato], class: 'btn btn-warning pull-right', method: :patch %>

<h1>
  <%= @contato.nome %>
  <small>
    <%= @contato.email %>
  </small>
</h1>

<pre class="well">
<%= @contato.mensagem %>
</pre>

<%= link_to '< voltar', :back, class: 'btn btn-info' %>
