%h1 Usuários

%a.pull-right.btn.btn-primary(href=new_usuario_path) Novo

%table.table
  %thead
    %tr
      %th id
      %th Nome
      %th email
      %th senha
      %th alterado
      %th criado
      %th editar
      %th excluir
  %tbody
  - for usuario in @usuarios
    %tr
      %td= usuario.id
      %td= usuario.nome
      %td= usuario.email
      %td= usuario.password_digest
      %td= l usuario.updated_at
      %td= l usuario.created_at
      %th= link_to 'editar', [:edit, usuario], class:'btn btn-info btn-xs'
      %th= link_to 'excluir', usuario, method: :delete, data: { confirm: 'Tem Certeza?'}, class:'btn btn-danger btn-xs'
