%h1 Novo Usuário

- if @usuario.errors.any?
  %div.alert.alert-danger
    %ul
    - for name, message in @usuario.errors
      %li
        %strong= name
        %em= message

= form_for @usuario do

  %div.form-group
    = label :usuario, :nome
    = text_field :usuario, :nome, class: 'form-control'

  %div.form-group
    = label :usuario, :email
    = text_field :usuario, :email, class: 'form-control'

  %div.form-group
    = label :usuario, :senha
    = password_field :usuario, :senha, class: 'form-control'

  %div.form-group
    = label :usuario, :senha, 'Senha (repetir)'
    = password_field :usuario, :senha_confirmation, class: 'form-control'

  = submit_tag 'Salvar', class: 'btn btn-success'