<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to 'Help Desk', root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Recursos', recursos_path %></li>
      <li><%= link_to 'Preços', precos_path %></li>
      <li><%= link_to 'Fale Conosco', new_contato_path %></li>
    </ul><!-- .nav.navbar-nav -->

  </div><!-- .container-fluid -->
</nav>