<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to 'Help Desk', root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Recursos', recursos_path %></li>
      <li><%= link_to 'Preços', precos_path %></li>
      <li><%= link_to 'Fale Conosco', fale_conosco_path %></li>
    </ul><!-- .nav.navbar-nav -->

    <ul class="navbar-nav nav navbar-right">
      <% if user_signed_in? %>
      <li class="navbar-text"><%= current_user.email %></li>
      <li><%= link_to 'sair', session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to 'Login', new_session_path %></li>
      <% end %>
    </ul>

  </div><!-- .container-fluid -->
</nav>